@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-tab {
        @apply text-gray-800 cursor-pointer select-none;
    }
    .active-menu-tab {
        @apply rounded-full px-4 py-2 text-white select-none;
    }
}

.bg-primary {
    background-color: blueviolet;
}

.home-banner {
    background-image: url(../src/Assets/logo2.webp);
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}